/*-- defaults --*/

:root {
  --bg-main: #e4e6e1;
  --bg-nav: #002617d7;
  --light: #ffff;
  --bg-footer: #333;
  --secondary: #008470;
  --surface-color: #fff;
  --accent: #b84d1c;
  --msg-error-text: #900;
  --msg-info-bg: #00a;
  --curve: 40;
  --msg-info-text: #aaf;
  --second-accent: #f95959;
  --msg-success-bg: #060;
  --msg-success-text: #cfc;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Caviar Dreams";
  font-weight: bold;
  font-style: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.row {
  margin-right: 0px !important;
}
body {
  overflow-x: hidden;
  min-height: 100vh;
  grid-template-columns: 100%;
  display: grid;
  height: fit-content;
  grid-template-rows: 90px 90px 1fr 250px;
 
  background: var(--bg-main);
}
h1,
h2,
h3,
span {
  font-family: "Boiling Demo";
  font-weight: normal;
  font-style: normal;
}
span {
  font-size: 2rem;
}

span:hover {
  color: #f95959;
}

input {
  outline: none !important;
}

h1 {
  text-align: center;
  padding: 40px;
  font-weight: 700;
}
h2 {
  font-size: 2.2rem;
  font-weight: 400;
  text-align: center;
}

img {
  height: auto;
  vertical-align: middle;

width: 100%;
}

a {
  text-decoration: none;
  color: var(--second-accent);
}
a:hover {
  color: var(--accent);
}
dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0rem !important;
}

#onlineOffline {
  text-align: center;
  margin: 0 auto;
  padding: 10px;

  display: block;
}

.button {
  margin-top: 30px;
}
.button {
  font-size: 1rem;
  padding: 10px 30px;
  background: var(--secondary);
  color: #fff;
  border-radius: 30px;
  margin-right: 20px;
  border: none;
  font-family: "Caviar Dreams";
}
.button-delete {
  font-size: 1rem;
  padding: 10px 30px;
  background: var(--msg-error-text);
  color: #fff;
  border-radius: 30px;
  margin-right: 20px;
  border: none;
  font-family: "Caviar Dreams";
}
.button-space {
  margin: 30px !important;
}
/* Animacion Hamburguesa */
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
.img-table{
  width: 200px !important;
}
/*-- HEADER --*/

header {
  position: relative;
  display: flex;
  background-image: url(../assets/imgs/banner2.jpg);
  background-size: cover;
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
}
/* --NAV-- */
nav {
  display: flex;
  justify-content: center;
  background-color: var(--bg-nav);
  align-items: center;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  position: sticky;
  top: 0;
  padding: 1rem;
  z-index: 100;
}
.fade:not(.show) {
  opacity: 1;
}
.dropdown {
  background: transparent;
  border: none;
  padding-left: 2rem;
  color: #008470;
  padding-right: 2rem;
}
.dropdown-menu li a{
  color: #002617 !important;
  font-size: 1.25rem !important;
}
.dropdown:hover {
  color: #f95959;
}
h2 .total{
  color: var(--accent);
}
/* NAV LINKS*/
.nav-links {
  display: flex;
  list-style: none;
  width: 88vw;
  padding: 0 0.7vw;
  justify-content: space-evenly;
  align-items: center;
}
.nav-links li a {
  text-decoration: none;
  margin: 0 0.7vw;
  color: var(--bg-main);
}
.nav-links li a:hover {
  color: var(--accent);
}
.nav-links li {
  position: relative;
  padding: 0.5rem;
}
.nav-links li a::before {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: var(--accent);
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
}
.nav-links li a:hover::before {
  width: 80%;
}

/* --HAMBURGER ICON --*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: var(--accent);
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger {
  display: none;
}

/*-- home --*/

#products-home {
  padding-top: 2rem;
  text-align: center;
}

.title-encapsule {
  background-color: #f95959;
  width: 15rem;
  height: 10rem;
  border-radius: 10rem 10rem 0 0;
  margin: auto;
}
.title-encapsule h2 {
  color: #fff;
  font-size: 2rem;
  text-shadow: -1px 5px 8px rgba(101, 23, 72, 0.549);
}
.encapsule-space {
  padding-top: 3rem;
}

/*-- home info cards --*/
.line-species {
  background: var(--second-accent);
  width: 100px;
  height: 2px;
}
.species-infocard {
  background-image: url(../assets/imgs/orchid.png);
  background-size: 50px;
  background-position: center top;
  background-repeat: no-repeat;
  margin-top: 50px;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.species-infocard h2 {
  color: var(--bg-nav);
}

.species-infocard p {
  text-align: center;
  padding: 2rem;
}

p {
  line-height: 1.5em;
}
h1 + p,
p + p {
  margin-top: 10px;
}
.container-infocards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-wrap {
  margin-left: 2px;
  transform: perspective(800px);
  transform-style: preserve-3d;
}
.card-wrap:hover .card-info {
  transform: translateY(0);
}
.card-wrap:hover .card-info p {
  opacity: 1;
}
.card-wrap:hover .card-info,
.card-wrap:hover .card-info p {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.card-wrap:hover .card-info:after {
  transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 1;
  transform: translateY(0);
}
.card-wrap:hover .card-bg {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1),
    opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0.8;
}
.card-wrap:hover .card-infocard {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1),
    box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: rgba(231, 114, 114, 0.312) 0 0 40px 5px,
    rgba(255, 255, 255, 1) 0 0 0 1px, rgba(118, 33, 33, 0.66) 0 30px 60px 0,
    inset rgb(162, 109, 109) 0 0 0 5px, inset white 0 0 0 6px;
}

.cards-tipos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card-tipos {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 100%;
  height: auto;
}
.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.card-tipos:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: rgba(238, 238, 238, 0.39);
}

.card-tipos:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 2rem;
  margin: 0 0 0.3em;
  font-family: "Boiling Demo";
  color: var(--second-accent);
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-size: 0.8em;
  color: #d7bdca;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #002617;
  overflow: hidden;
}

.post-outcome {
  margin: 20px auto;
  height: 50vh;
  display: block;
}

.post-outcome h3 {
  font-family: "Boiling Demo";
  font-size: 2rem;
  color: var(--second-accent);
  text-align: center;
}
.text1 {
  text-align: center;
  margin-top: 2rem;
  padding-top: 20px;
}
.block-color {
  position: absolute;
  height: 15rem;
  width: 15rem;
  border-radius: 0 0 10rem 10rem;
  background-color: #ffe2297a;
  top: 10;
  margin-left: 3%;
  z-index: 1;
}

.block-color2 {
  position: absolute;
  height: 15rem;
  width: 10rem;
  border-radius: 0 0 5rem 5rem;
  background-color: #f9595992;
  top: 1;
  margin-left: 1%;
  z-index: 1;
}
.block-color3 {
  position: absolute;
  height: 12rem;
  width: 15rem;
  border-radius: 0 0 10rem 10rem;
  background-color: #ffe2297a;
  top: 10;
  margin-left: 80%;
  z-index: 1;
}

.block-color4 {
  position: absolute;
  height: 12rem;
  width: 15rem;
  border-radius: 0 0 10rem 10rem;
  background-color: #f9595982;
  top: 10;
  margin-left: 86%;
  z-index: 1;
}
#divider-home h2 {
  padding-top: 5rem;
  font-size: 1.5rem;
}

#divider-home p {
  text-align: center;
}

/*-- CARD --*/

.main-cards {
  max-width: 100%;
  margin: 10px auto;
  padding: 4rem;
  border-radius: 20rem 20rem 0 0;
  background: #f9595958;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
}
.main-cards h2 {
  color: black;
  padding-bottom: 2rem;
  font-size: 2rem;
}

.main-cards h3 {
  color: var(--bg-footer);
  font-size: 1.8rem;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards-item {
  display: flex;
  padding: 0.5rem;
}

.card {
  background-color: white;
  border-radius: 100px 5px 100px 5px;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card_image {
  transition: transform 0.2s;
  transform: scale(1);
}
.card_image:hover {
  transform: scale(1.1);
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #76868b9c;
}

.card_image:hover .overlay {
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.icon_card_img {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.cart-card {
  background: #92aba7;
  width: 140px;
  height: 140px;
  position: absolute;
  bottom: -70px;
  left: -70px;
  border-radius: 200px 200px 0px 0px;
  transition: all 0.5s, border-radius 2s, top 1s;
  overflow: hidden;
}
.cart-card:hover {
  background: var(--secondary);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.cart-card .bx-cart {
  color: #fff;
  opacity: 1;
  position: absolute;
  left: 85px;
  font-size: 2rem;
  bottom: 85px;
}
.card .inside .bx-info-circle {
  position: absolute;
  right: 85px;
  top: 85px;
  font-size: 2rem;
  color: white;
  opacity: 1;
}

.card_content {
  padding: 1rem;
}

.card_text /*precio*/ {
  font-size: 1.5rem;
  color: #f95959 !important;
  font-style: italic;
  margin-bottom: 1.25rem;
  padding-top: 0.25rem;
  text-align: center;
}
.product_category {
  color: #f95959;
  font-family: "Harmond";
  font-weight: normal;
  font-size: 1.5rem;
  font-style: italic;
}

/*-- product page --*/
#products-section {
  padding-top: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
div .line {
  color: #002617;
  height: 3px;
  width: 80px;
}
.space {
  margin-top: 2rem;
  padding: 2rem;
}

.breadcrumb-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 1rem 0 0 0;
  list-style: none;
}
.breadcrumb-list li {
  font-size: 0.85rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}
.breadcrumb-list li a {
  color: #008470 !important;
}
.breadcrumb-list li a:hover {
  color: var(--bg-footer) !important;
}
.breadcrumb-item.active {
  color: var(--bg-footer);
}
.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  display: inline-block;
  padding: 0 0.5rem;
  color: var(--secondary);
}

/*--product-page-details --*/
.p-name {
  color: #f95959;
  padding-top: 1rem;
  font-size: 2.5rem;
}
.p-category {
  color: #f95959;
  font-size: 1.5rem;
  font-family: "Harmond";
  font-weight: normal;
  font-style: italic;
}
.linea {
  display: block;
  height: 3px;
  width: 100px;
  background-color: #002617;
  margin: 0 auto;
}

.linea2 {
  display: block;
  height: 3px;
  width: 200px;
  background-color: #002617;
  margin: 5px auto;
}
.center-productview {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-productview img {
  border-radius: 20rem 20rem 0 0;
}
.product-detail-content {
  background: #fff;
  padding: 15px;
  border: 1px solid lightgray;
}
.product-detail-content p.p-name {
  color: var(--secondary);
  font-size: 2rem;
  border-bottom: 1px solid lightgray;
  padding-bottom: 12px;
}
.product-detail-content p.p-description {
  color: var(--bg-nav);
}
.p-add-cart {
  margin-left: 0px;
  margin-bottom: 15px;
}
.p-add-cart .buy-btn {
  background-color: var(--accent);
  color: var(--bg-nav);
}
.price {
  color: #f95959;
}
.p-add-cart .btn {
  padding: 6px 20px;
  border-radius: 4px;
}
.p-add-cart .btn {
  margin: 0px 8px;
}

/* --contacto form --*/

.container-form {
  max-width: 100%;
  margin: 0 auto;
}

section#formHolder {
  padding: 50px 0;
}

.form {
  position: relative;
}
.form .form-peice {
  background: #fff;
  min-height: 100%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  color: var(--second-accent);
  padding: 30px 0 60px;
  position: absolute;
  top: 0;
  overflow: hidden;
}
.form form {
  padding: 0 40px;
  margin: 0;
  width: 100%;
  position: absolute;
}
.form form .form-group {
  margin-bottom: 5px;
  position: relative;
}
.form form .form-group.hasError input {
  border-color: #f95959 !important;
}
.form form .form-group.hasError label {
  color: #f95959 !important;
}
.form form label {
  font-size: 1.25rem;
  transition: all 0.4s;
  cursor: text;
  z-index: -1;
}
.form form input:not([type="submit"]) {
  background: none;
  outline: none;
  border: none;
  display: block;
  padding: 10px 0;
  width: 100%;
  border-bottom: 1px solid #eee;
  color: var(--bg-footer);
  font-size: 1rem;
  font-family: "Caviar Dreams";
  z-index: 1;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.form form span.error {
  color: #f95959;
  font-family: "Caviar Dreams";
  font-size: 1rem;
  position: inherit;
  right: 0;
  display: none;
}
.container {
  overflow: hidden;
}
section#formHolder {
  padding: 0;
}
section#formHolder .form {
  width: 80vw;
  min-height: 500px;
  margin-left: 10vw;
}
section#formHolder .form .form-peice {
  top: 0;
  left: 0;
  width: 100% !important;
  transition: all 0.5s ease-in-out;
}
/*--PANEL--*/
.panel {
  height: 100%;
  width: 100%;
  padding-bottom: 12rem;
}
.orchid {
  width: 100px;
}
.msg-error {
  color: var(--msg-error-text);
  text-decoration: underline;
}
.msg-success {
  background-color: var(--msg-success-text);
  color: var(--msg-success-bg);
}
td{
  min-width: 150px !important;
  max-width: 150px !important;
}

/*--FOOTER--*/
footer {
  background-color: #002617;
  padding: 2rem;
  width: 100%;
  margin-top: 2rem;
  z-index: -1;
}
/*Table */
table{ 
  margin: 2rem;
  width: 90% !important;
}
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    margin: 0 0 1rem 0;
  }

  tr:nth-child(odd) {
    background: #ccc;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50% !important;
  }

  td:before {
    position: absolute;
    top: 0;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  td:nth-of-type(1):before {
    content: "Id";
  }
  td:nth-of-type(2):before {
    content: "Name";
  }
  td:nth-of-type(3):before {
    content: "Category";
  }
  td:nth-of-type(4):before {
    content: "Family";
  }
  td:nth-of-type(5):before {
    content: "Description";
  }
  td:nth-of-type(6):before {
    content: "Price";
  }
  td:nth-of-type(7):before {
    content: "Image";
  }
  td:nth-of-type(8):before {
    content: "Action";
  }

  }

/* --RESPONSIVE --*/

@media screen and (max-width: 1200px) {
  .block-color3,
  .block-color4,
  .block-color2,
  .block-color {
    display: none;
  }
  
}
@media screen and (max-width: 800px) {
  .text2 {
    top: 190px;
  }
}

@media screen and (max-width: 800px) {
  div .column-header {
    flex-direction: column !important;
  }
  body{
    grid-template-rows: 90px 1fr 250px;}
  nav {
    position: fixed;
    z-index: 3;
    padding: 2rem;
    border-radius: 0px 30px 30px 0px;
  }
  .nav-links {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
  }
  .hamburger {
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }
  .nav-links {
    position: fixed;
    background: var(--bg-nav);
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    height: 100vh;
    top: 0;
    left: 0;
    flex-direction: column;
    opacity: 0.9;
    clip-path: circle(2px at -20% 40%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .nav-links.open {
    clip-path: circle(1000px at 90% 10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }
  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }
  li.fade {
    opacity: 1;
  }
}

@media (min-width: 40rem) {
  .cards-item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards-item {
    width: 25%;
  }
}

@media (max-width: 480px) {
  section#formHolder .form {
    width: 100vw;
    margin-left: 0;
  }
  h2 {
    font-size: 50px !important;
  }
}


.d-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
